.Nav {
    background: whitesmoke;
    border-bottom: 2px solid rgba(0, 0, 0, 0.445);
}

#Head-Nav {
    border: 5px solid rgba(92, 165, 248, 0);
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: bold;
}

#Head-Nav:hover {
    color: initial;
}

.Nav-home-icon {
    font-weight: bold;
    margin-left: 15px;
    margin-right: 3vw;
    color: black;
    max-height: 100px;
}

.li-item-cust {
    display: flex;
    align-items: center;
}

.inactive {
    color: rgb(20, 20, 20);
}

.inactive:hover {
    border-color: #2b2523!important;
    color: #39be1e;
}

.active {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    background: rgba(0%, 0%, 0%, 0);
    border-radius: 10px;
    border: 5px solid rgba(92, 165, 248, 0.836);
    border-width: 5px 5px 5px 5px;
    padding: 3px 10px 2px 10px;
    color: rgb(15, 15, 15);
    font-size: 15px;
    font-family: Pretendo;
    font-weight: 200;
    font-style: normal;
    letter-spacing: 1px;
}

.active > div {
    color: #999;
    font-size: 10px;
    font-family: Helvetica Neue;
    font-weight: initial;
    font-style: normal;
    text-align: title-2;
    margin: 0px 0px 0px 0px;
}

.active > i {
    font-size: 1em;
    border-radius: 0px;
    border: 0px solid transparent;
    border-width: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    position: static;
}

.active > .ld {
    font-size: initial;
}