.Home {
    background: whitesmoke;
}

.Home-subsection {
    text-align: center;
}

.Home-subsection > div {
    margin-right: auto;
    margin-left: auto;
}

.Home-imgs-container {
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.Home-imgs-row {    
    max-height: 150px;
    margin-bottom: 15px;
}